@import '../settings/index.scss';

.image-text-section {
    @include section-padding;
    
    h2 {
        margin-bottom: $mac-spacing-min1;
        @media(min-width: 600px) {
            margin-bottom: $mac-spacing-min4;
        }
    }

    &.content-section {
        padding: $mac-spacing-min2 0 $mac-spacing-min2 0;
        @media(min-width: 600px) {
            padding: 66px 78px 66px 78px;
        }
    }

    .content-section__inner.right-aligned {
        @media(max-width: 750px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}