@keyframes animate-bounce {
    0%,80%,100% {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.loader {
    position: relative;
}

.loader .dot-container {
    position: absolute;
    top: -22px;
    right: -16px;
    transform: translate3d(-50%, -50%, 0);
    margin: 0 auto;
    width: 70px;
    height: 18px;
    text-align: center;
    z-index: 22;
    -moz-user-select: none;
    user-select: none;
}

.loader .dot-container .dot,.loader .dot-container::before,.loader .dot-container::after {
    width: 18px;
    height: 18px;
    background-color: green;
    border-radius: 100%;
    display: inline-block;
    animation: animate-bounce 1.4s infinite ease-in-out both
}

.loader .dot-container::before,.loader .dot-container::after {
    content: ''
}

.loader .dot-container::before {
    animation-delay: -0.16s
}

.loader .dot-container::after {
    animation-delay: 0.16s
}

.loader p {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.loader.has-overlay {
    position: fixed;
    z-index: 22;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4)
}

.loader.has-overlay .dot-container {
    z-index: 23
}

.loader.org-loader .dot-container {
    right: 155px
}